<html>
<head>
    <css file="__PUBLIC__/css/body.css"/>
    <css file="__PUBLIC__/css/content.css"/>
    <css file="__PUBLIC__/icon/icon.css"/>
    <js file="__STATIC__/jquery-1.7.2.min.js"/>
    <css file="__STATIC__/kindeditor/themes/default/default.css" />
    <js file="__STATIC__/kindeditor/kindeditor-min.js"/>
    <js file="__STATIC__/kindeditor/lang/zh_CN.js"/>
    <css file="__STATIC__/uploadify/uploadify.css"/>
    <js file="__STATIC__/uploadify/jquery.uploadify.js"/>
    <js file="__STATIC__/My97DatePicker/WdatePicker.js"/>
    
    <script type="text/javascript">
        $(function(){
                var url1="{:U('Upload/upload_ke_json','',0)}";
                var url2="{:U('Upload/upload_ke_manager','',0)}";
                var editor;
    			KindEditor.ready(function(K) {
    				editor = K.create('.elem1', {
                        uploadJson : url1,
                        fileManagerJson : url2,
                        allowFileManager : true
    				});
    			});
        });  
        function checkboxx(x,_this){
            obj=$('#'+x);
            if($(_this).attr("checked")){
                obj.val(1);
            }else{
                obj.val(0);
            }
        }   
        function men_img(){
            var m_width=$(window).width();
            m_width=(m_width-700)/2;
            //alert(m_width);
            $('.men-img').css('left',m_width);
            $('.men-img').show();
        }
        function close_img(){
            $('.men-img').hide();
        }
        function deleteimg(x){
            var reg=new RegExp(x+'`',"g"); 
            var str=$('#refile_v_v').val();
            str=str.replace(reg,'');
            $('#refile_v_v').val(str);
            $('#refiles_s_s a').each(function(){
                if($(this).attr('href')==x) {
                    $(this).remove();
                }
            });
        }  
        function men_ping(){
            var m_width=$(window).width();
            m_width=(m_width-800)/2;
            //alert(m_width);
            $('.men_ping').css('left',m_width);
            $('.men_ping').show();
        }
        function close_ping(){
            $('.men_ping').hide();
        };               
    </script>
     <style type="text/css">
        .attr input,.attr span{float:left;font-weight: normal;border:0px;background:#f8f8f8;}
        .attr span{height:30px;line-height:30px;}
        
        .dilog{width:600px;height:300px;background:#4679bd;position: fixed;left:0px;top:30px;display:none;}
        .dilog iframe{width:580px;border:0px;height:270px;margin:0px;padding:0px;margin-left:2px;}
        .dilog p{margin:0px;padding:0px;height:20px;line-height:20px;}
        .dilog p a{float:right;margin-right:10px;text-decoration:none;font-size:16px;color:#fff;}
        
        .selecttt select{float:left;margin-top:5px;}
    </style>
</head>
<body>
<form action="{:U('Content/modify')}" method='post'>
    <div class="top">
        <div class="position"><span class="icon icon-31"></span>当前位置：修改{$model.title}</div>
        <div class="top-title">
            <span class="icon icon-32"></span>
            <div class="top-tool">
                <a class="button-a" href="{:U('Content/index',array('model'=>$model['model']))}">返回列表</a>
                <input class="button-b" type="submit" value="提交保存"/>
                <a class="button-a" href="javascript:void(0);" onclick="men_ping()">评论管理</a>
                <input type="hidden" name="model" value="{$model.model}"/>
                <input type="hidden" name="id" value="{$body['id']}"/>
            </div>
        </div>
    </div>
    <div class="dilog men_ping" style="width: 750px;">
        <p><a href="javascript:void(0);" onclick="close_ping()">x</a></p>
        <iframe style="width:730px;"  src="{:U('Site/review',array('model'=>$model['model'],'pid'=>$body['id']))}"></iframe >
    </div>
    <div class="body">
       <div class="row" >
            <div class="col col1">分类：</div>
            <div class="col col2">
                <select name="typeid" style="margin-top: 5px;">
                    <foreach name="types" item="v">
                        <option value ="{$v['id']}" <if condition="$v['id'] eq $body['typeid']">selected="selected"</if>>{$v['title']}</option>
                    </foreach>
                </select>
            </div>
            <div style="clear: both;"></div>
       </div>
       <div class="row" >
            <div class="col col1">标题：</div>
            <div class="col col2">
				<input name="title" id="title" value="{$body.title}"/>
                <span class="remark"></span>
            </div>
            <div style="clear: both;"></div>
       </div>
       <div class="row" >
            <div class="col col1">关键词：</div>
            <div class="col col2">
				<input name="keywords" id="keywords" value="{$body.keywords}"/>
                <span class="remark">以“,”分割</span>
            </div>
            <div style="clear: both;"></div>
       </div>
       <div class="row" >
            <div class="col col1">描述：</div>
            <div class="col col2">
				 <textarea style="float:left;margin:4px 0px;" name="description">{$body.description}</textarea>
				 <span class="remark"></span>
            </div>
            <div style="clear: both;"></div>
       </div>	   
       <foreach name="fields" item="v">
                <if condition="$v.ftype eq 1">
                    <div class="row">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2"> 
                            <input type="text" name="{$v.name}" value="{$body[$v['name']]}"/>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
                <if condition="$v.ftype eq 2">
                    <div style="font-size: 12px;height:305px;padding:2px 0px;border-bottom:1px solid #dcdcdc;">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2" style="text-align: left;">
                            <textarea style="width: 700px;height:300px;" class="elem1" name="{$v.name}">{$body[$v['name']]}</textarea>
                        </div>
                    </div>
                </if>
                <if condition="$v.ftype eq 3">
                    <div class="row">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2"> 
                            <input type="text" name="{$v.name}" value="{$body[$v['name']]}"/>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
                <if condition="$v.ftype eq 4">
                     <div class="row">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2"> 
                            <script>
                                $(function() {
                                	$("#{$v.name}_s").uploadify({
                                		height        : 22,
                                		swf           : '__STATIC__/uploadify/uploadify.swf',
                                		uploader      : '{:U("Upload/upload_tp")}',
                                		width         : 60,
                                        fileTypeExts  : '*.jpeg;*.jpg;*.png;*.gif;*.bmp',
                                        multi         :false, //ture多文件，false单文件
                                        queueID:'uploadify_ppt',
                                        buttonText:'',
                                        removeCompleted : true,
                                        'onUploadSuccess':function(file,data,response){
                                                if(data=='error') 
                                                {
                                                    alert('上传出错，请检查原因!(文件大小/文件类型)');
                                                }
                                                else
                                                {
                                                    $('#{$v.name}').val(data);
                                                }
                                        }
                                	});
                                });
                            </script>
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><input style="margin: 0px;margin-top:2px;" type="text" name="{$v.name}" id="{$v.name}" value="{$body[$v['name']]}"/></td>
                                    <td style="padding-top: 3px;padding-left:3px;"><input type="file" name="{$v.name}_s" id="{$v.name}_s"/></td>
                                    <td><div id="uploadify_ppt" style="width: 400px;margin-left:5px;"></div></td>
                                </tr>
                            </table>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
                <if condition="$v.ftype eq 5">
                   
                    <div class="row">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2">
                            <script>
                            $(function() {

                                $("#{$v.name}_m").uploadify({
                                    height        : 22,
                                    swf           : '__STATIC__/uploadify/uploadify.swf',
                                    uploader      : '{:U("Upload/upload_tp")}',
                                    width         : 60,
                                    fileTypeExts  : '*.mp4;*.jpeg;*.jpg;*.png;*.gif;*.bmp',
                                    multi         :true, //ture多文件，false单文件
                                    queueID:'',
                                    buttonText:'',
                                    removeCompleted : true,
                                    queueID:'uploadify_ppts',
                                    'onUploadSuccess':function(file,data,response){
                                        if(data=='error')
                                        {
                                            alert('有部分文件上传出错，请检查原因!(文件大小/文件类型)');
                                        }
                                        else
                                        {
                                            $('#{$v.name}').val($('#{$v.name}').val()+data+'`');
                                            $('#refiles_{$v.name}_s').append("<a target='_blank' href='"+data+"'><img width='30' height='30' style='margin-left:1px;border:0px;' src='"+data+"'/></a>");
                                        }
                                    }
                                });
                               
                            });
                            </script>
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="padding-top:3px;margin-left:3px;">
                                        <input type="file" name="{$v.name}_m" id="{$v.name}_m"/>
                                        <input type="hidden" id="{$v.name}" name="{$v.name}" value="{$body[$v['name']]}"/>
                                        <div id="uploadify_ppts" style="display:none;"></div>
                                    </td>
                                    <td>
                                        <div style="height: 30px;margin-left:5px;" id="refiles_{$v.name}_s"></div>
                                    </td>
                                    <!--<td class="title" style="padding:0px 5px;font-size:12px;"><a href="javascript:void(0);" onclick="men_img()">管理</a></td>-->
                                    <!--<td>-->
                                        <!--<div style="height: 30px;margin-left:5px;" id="refiles_{$v.name}_s">-->
                                            <!--<foreach name="attachment" item="v">-->
                                                <!--<a target='_blank' href='{$v["url"]}'><img width='30' height='30' style='margin-left:1px;border:0px;' src='{$v["url"]}'/></a>-->
                                            <!--</foreach>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                </tr>
                            </table>
                            <!--<div class="dilog men-img">-->
                                <!--<p><a href="javascript:void(0);" onclick="close_img()">x</a></p>-->
                                <!--<iframe  src="{:U('Site/attachment',array('model'=>$model['model'],'pid'=>$body['id']))}"></iframe >-->
                            <!--</div>-->
                        </div>
                    </div>
                </if>
                <if condition="$v.ftype eq 6">
                    <div class="row">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2"> 
                            <input type="text" name="{$v.name}" readOnly="true"  class="Wdate" onclick="WdatePicker()" value="{$body[$v['name']]}"/>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
                <if condition="$v.ftype eq 7">
                    <div class="row">
                        <div class="col col1">{$v.title}：</div>
                        <div class="col col2">
                                <input style="float: left;" onclick="checkboxx('{$v.name}',this)" type='checkbox' <if condition="$body[$v['name']] eq 1">checked="checked"</if>/>
                                <input type="hidden" id="{$v.name}" name='{$v.name}' <if condition="$body[$v['name']] eq 1"> value="1"</if>/>
                                <span style="float: left;">{$v.title}</span>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
                <if condition="$v.ftype eq 8">
                    <div style="border-bottom:1px solid #dcdcdc;">
                        <div class="col col1" style="font-size: 12px;">{$v.title}：</div>
                        <div>
                                <textarea style="float:left;margin:4px 0px;" name="{$v.name}">{$body[$v['name']]}</textarea>
                                <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
                <if condition="$v.ftype eq 9">
                    <div style="border-bottom:1px solid #dcdcdc;">
                        <div class="col col1" style="font-size: 12px;">{$v.title}：</div>
                        <div class="col col2 selecttt">
                                {:selecttohtml($v[fval],$v[model],$body[$v['name']])}
                                <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </if>
            </foreach>
       <div class="row" >
            <div class="col col1">更新时间：</div>
            <div class="col col2">
				<input name="uptime" id="uptime" value="{$body.uptime|date='Y-m-d h:i:s',###}"/>
            </div>
            <div style="clear: both;"></div>
       </div>			
			
			
    </div>
    
</form>
</body>
</html>