<html>
<head>
    <css file="__PUBLIC__/css/body.css"/>
    <css file="__PUBLIC__/icon/icon.css"/>
</head>
<body>
<form action="{:U('Model/orders')}" method="post">
    <div class="top">
        <div class="position"><span class="icon icon-31"></span>当前位置：模型列表</div>
        <div class="top-title">
            <span class="icon icon-32"></span>
            <div class="top-tool">
                <a href="{:U('Model/add')}" class="button-a">添加模型</a>
                <input type="submit" class="button-b" value="保存排序"/>
            </div>
        </div>
    </div>
    <div class="body">
        <table class="list-tb" border="0" cellpadding="0" cellspacing="4">
            <tr>
                    <th width="5%">排序</th>
                    <th width="30%">模型名称</th>
                    <th width="10%">标识</th>
                    <th width="10%">列表页</th>
                    <th width="10%">内容页</th>
                    <th width="20%">操作</th>
            </tr>
            <foreach name="model" item="v">
            <tr>
                    <td><input style="width:30px;text-align:center;" name='{$v["model"]}' value="{$v['orderid']}"/></td>
                    <td class="title"><a href="{:U('Model/modify',array('model'=>$v['model']))}">{$v['title']}</a></td>
                    <td>{$v['model']}</td>
                    <td>{$v['list']}</td>
                    <td>{$v['content']}</td>
                    <td class="operate">
                        <a href="{:U('Model/modify',array('model'=>$v['model']))}"><span class="icon icon-43"></span>修改</a>
                        <a href="{:U('Fields/index',array('model'=>$v['model']))}"><span class="icon icon-45"></span>字段管理</a>
                        <a href="{:U('Model/delete',array('model'=>$v['model']))}"><span class="icon icon-44"></span>删除</a>
                    </td>
            </tr>
            </foreach>
        </table>
    </div>
</form>
</body>
</html>