<html>
<head>
    <css file="__PUBLIC__/css/body.css"/>
    <css file="__PUBLIC__/icon/icon.css"/>
</head>
<body>
    <div class="top">
        <div class="position"><span class="icon icon-31"></span>当前位置：会员列表</div>
        <div class="top-title">
            <span class="icon icon-32"></span>
            <div class="top-tool">
                <a href="{:U('User/add')}" class="button-a">添加会员</a>
                <form action="{:U('User/index')}" method="post" style="float: left;margin-left:10px;">
                    <a style="float: left;margin-top:0px;height:22px;line-height:22px;">选择字段：</a>
                    <select style="float: left;height:22px;" name="select_name">
                        <option value="id" <eq name="select_name" value="id">selected="selected"</eq>>ID</option>
                        <option value="username" <eq name="select_name" value="username">selected="selected"</eq>>用户名</option>
                        <option value="email" <eq name="select_name" value="email">selected="selected"</eq>>邮箱</option>
                        <option value="gid" <eq name="select_name" value="gid">selected="selected"</eq>>用户组</option>
                        <foreach name="select" item="v">
                            <option value="{$v.name}" <eq name="select_name" value="$v.name">selected="selected"</eq>>{$v.title}</option>
                        </foreach>
                    </select>
                    <if condition="$vague eq 'vague'">
                        <input type="checkbox" name="vague" value="vague" checked="checked">
                    <else/>
                        <input type="checkbox" name="vague" value="vague">
                    </if>
                    模糊查询
                    <input style="float:left;margin-left:5px;height:22px;" name="select_val" value="{$select_val}" />
                    <input type="hidden" name="select" value="select"/>
                    <input type="submit" class="button-b" value="提交查询"/>
                </form>
            </div>
        </div>
    </div>
    <div class="body">
        <table class="list-tb" border="0" cellpadding="0" cellspacing="4">
             <tr>
                    <th><span>ID</span></th>
                    <th><span>用户名</span></th>
                    <th><span>邮箱</span></th>
                    <th><span>用户组</span></th>
                    <foreach name="fields" item="vs">
                        <th><span>{$vs['title']}</span></th>
                    </foreach>
                    <th width="15%">操作</th>
            </tr>
            <foreach name="lists" item="v">
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$v['username']}</td>
                    <td>{$v['email']}</td>
                    <td>{$v['group']['title']}</td>
                    <foreach name="fields" item="vs">
                        <td><if condition="$v[$vs['name']] eq NULL">&emsp;<elseif condition="$vs[ftype] eq 9"/>{$vs[fval]|fval2str=###,$v[$vs['name']]}<else/>{$v[$vs['name']]}</if></td>
                    </foreach>
                    <td class="operate">
                        <a href="{:U('User/modify',array('id'=>$v['id']))}"><span class="icon icon-43"></span>修改</a>
                        <a href="{:U('User/delete',array('id'=>$v['id']))}"><span class="icon icon-44"></span>删除</a>
                    </td>
                </tr>
            </foreach>
        </table>
        <div class="page">{$page}</div>
    </div>
</body>
</html>