<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>添加节目</title>
	<!-- Bootstrap Core CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap-hover-dropdown.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--外部变量-->
	<script>
		var loadingSrc = '__PUBLIC__/images/loading.gif';
	</script>
	<link src="__PUBLIC__/css/mobile.css" rel="stylesheet"/>
	<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
	<script src="__PUBLIC__/js/mobile.js"></script>
	<script src="__PUBLIC__/js/self-adaption.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/dist/css/swiper.min.css">
	<script src="__PUBLIC__/dist/js/swiper.min.js"></script>
</head>
<body>
	<include file="Public/head"/>
	<link rel="stylesheet" href="__PUBLIC__/css/mobile.css?v=1"/>
	<link rel="stylesheet" href="__PUBLIC__/css/loading.css?v=1">
	<!-- PastEvents -->
	<div class="show_thumb">
		<div id="loading" class="loading" style="display: none;">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object" id="object_one"></div>
					<div class="object" id="object_two"></div>
					<div class="object" id="object_three"></div>
					<div class="object" id="object_four"></div>
				</div>
			</div>
		</div>
		<img src="{$show.thumb|default='__PUBLIC__/images/upthumb.png'}">
	</div>
	<div class="container" style="padding-left: 16px; padding-right: 16px;">
		<!-- Content -->
		<div class="show_box">
			<form id="add_form" action="{:U('Show/addShow')}" method="post" autocomplete="off">
				<div>
					<input id="thumb_file" name="thumb_file" type="file" value="{$show.thumb}" onchange="showThumb('{:U(\"Upload/index\")}');" style="display:none;">
					<input id="thumb" name="thumb" type="hidden" value="{$show.thumb}">
				</div>
				<div class="grid_box">
					<div class="title"><span>分类：</span></div>
					<div class="content">
						<select name="typeid">
							<foreach name="typeList" item="t">
								<option value="{$t.id}">{$t.name}</option>
							</foreach>
						</select>
					</div>
				</div>

				<foreach name="fieldList" item="v">
					<switch name="v.ftype">
						<case value="1">
							<div class="grid_box">
								<div class="title"><span>{$v.title}：</span></div>
								<div class="content"><input name="{$v.name}" type="text"></div>
							</div>
						</case>
						<case value="2">
							<div class="grid_box">
								<div class="title"><span>{$v.title}：</span></div>
								<div class="content"><input name="{$v.name}" type="text"></div>
							</div>
						</case>
						<case value="3">
							<div class="grid_box">
								<div class="title"><span>{$v.title}：</span></div>
								<div class="content"><input name="{$v.name}" type="text"></div>
							</div>
						</case>
						<case value="4">
							<neq name="v.name" value="thumb">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><input name="{$v.name}" type="file"></div>
								</div>
							</neq>
						</case>
						<case value="5">
							<if condition="$v.name eq 'preview'">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content preview swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide"><img class="add_file" src="__PUBLIC__/images/upload.png"></div>
										</div>
									</div>
									<input id="preview_file" name="preview_file" type="file" accept="video/*" onchange="showPreview('{:U(\"Upload/index\")}');" style="display:none;">
									<input name="{$v.name}" type="hidden"/>
								</div>
								<elseif condition="$v.name eq 'photo'"/>
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content photo swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide"><img class="add_file" src="__PUBLIC__/images/upload.png"></div>
										</div>
									</div>
									<input id="photo_file" name="photo_file" type="file" accept="image/*" onchange="showPhoto('{:U(\"Upload/index\")}');" style="display:none;">
									<input name="{$v.name}" type="hidden"/>
								</div>
								<else/>
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><input name="{$v.name}" type="file"></div>
								</div>
							</if>
						</case>
						<case value="6">
							<div class="grid_box">
								<div class="title"><span>{$v.title}：</span></div>
								<div class="content"><input class="date" name="{$v.name}" type="date"></div>
							</div>
						</case>
						<case value="8">
							<eq name="v.name" value="summary">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content summary"><input name="{$v.name}" type="text" readonly="readonly" value="{$show[$v['name']]}"/></div>
								</div>
								<else/>
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><input name="{$v.name}" type="text"></div>
								</div>
							</eq>
						</case>
						<default>
							<div class="grid_box">
								<div class="title"><span>{$v.title}：</span></div>
								<div class="content"><input name="{$v.name}" type="text"></div>
							</div>
						</default>
					</switch>
				</foreach>
			</form>
		</div>
	</div>
	<include file="Public/foot"/>
	<script type="text/javascript">

	</script>
</body>
</html>