<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>节目信息</title>
	<!-- Bootstrap Core CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery -->
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap-hover-dropdown.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script>
		$(window).load(function () {
//			//$("#loading").delay(2000).fadeOut(500);
//			$("#loading-center").click(function() {
//				$("#loading").fadeOut(500);
//			})

			//初始化滑动图片
			var heights = $('.swiper-slide img').height();
			$('.swiper-container').css({height: heights}); //获取图片自适应高度赋值
			var swiper = new Swiper('.swiper-container', {
				direction: 'horizontal',
				freeMode: true,
				slidesPerView: 'auto',
				spaceBetween: 8,

			});

			//加载结束
			$('#loading').fadeOut(500);
			//显示更多
			$('.read_more').on('click', function () {
				if ($(this).html() == '阅读更多') {
					$(this).html('收起');
					$(this).prev().css('height', 'auto');
				} else {
					$(this).html('阅读更多');
					$(this).prev().css('height', '6.6rem');
				}
			});
		});
	</script>
	<link rel="stylesheet" href="__PUBLIC__/dist/css/swiper.min.css">
	<script src="__PUBLIC__/dist/js/swiper.min.js"></script>
</head>
<body>
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_four"></div>
			</div>
		</div>
	</div>
	<include file="Public/head"/>

	<script src="__PUBLIC__/js/self-adaption.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/mobile.css"/>
	<link rel="stylesheet" href="__PUBLIC__/css/loading.css">
	<!-- PastEvents -->
	<div class="show_thumb">
		<img src="{$show.thumb|default='https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1490804837&di=3e7747e6f7cee2e66fea4c8ddb1c061a&src=http://www.cddatu.com/uc/template/lightsail_mwt1/extend/img/noimg.jpg'}">
	</div>
	<!--<div class="container" style="padding-left: 16px; padding-right: 16px;">-->
		<!-- Content -->
		<div class="show_box">
			<div class="grid_box">
				<div class="show_name">{$show.name}</div>
				<div class="content"><span>导演：</span><span class="director">{$show.director|default='无'}</span></div>
			</div>
			<div class="grid_box">
				<div class="title"><span>简介：</span></div>
				<div class="content summary"><div class="summary_content">{$show.summary|default='暂无简介'}</div><a href="javascript:;" class="read_more">阅读更多</a></div>
			</div>
			<php>if(!empty($show['photos']) || !empty($show['previews'])){ </php>
			<div class="grid_box">
				<div class="title"><span>预告片／剧照</span></div>
				<div class="content preview swiper-container">
					<div class="swiper-wrapper">
						<foreach name="show.photos" item="photo">
							<div class="swiper-slide"><img src="{$photo}"></div>
						</foreach>
						<foreach name="show.previews" item="preview">
							<div class="swiper-slide"><video controls="controls" src="{$preview}"></video></div>
						</foreach>
					</div>
				</div>
			</div>
			<php> } </php>

			<foreach name="fieldList" item="v">
				<php>$fields[$v['name']]=$v['title'];</php>
				<if condition="!empty($show[$v['name']])">
					<switch name="v.ftype">
						<case value="1">
							<if condition="($v.name neq 'update_mod') and ($v.name neq 'periods') and ($v.name neq 'marketing_grading') and ($v.name neq 'name') and ($v.name neq 'director')">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><span>{$show[$v['name']]}</span></div>
								</div>
							</if>
						</case>
						<case value="2">
							<div class="grid_box">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><span>{$show[$v['name']]}</span></div>
								</div>
							</div>
						</case>
						<case value="3">
							<if condition="($v.name neq 'date_confirm') and ($v.name neq 'expected_date_confirm') and ($v.name neq 'min_duration') and ($v.name neq 'max_duration')">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><span>{$show[$v['name']]}</span></div>
								</div>
							</if>
						</case>
						<case value="4">
							<neq name="v.name" value="thumb">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><img src="{$show[$v['name']]}" /></div>
								</div>
							</neq>
						</case>
						<case value="5">
							<if condition="($v.name neq 'photo') and ($v.name neq 'preview')">

							</if>
						</case>
						<case value="6">
							<if condition="($v.name neq 'start_date') and ($v.name neq 'end_date') and ($v.name neq 'expected_tv_startdate') and ($v.name neq 'expected_tv_enddate')">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><span>{$show[$v['name']]}</span></div>
								</div>
							</if>
						</case>
						<case value="8">
							<neq name="v.name" value="summary">
								<div class="grid_box">
									<div class="title"><span>{$v.title}：</span></div>
									<div class="content"><span>{$show[$v['name']]}</span></div>
								</div>
							</neq>
						</case>
						<default>
							<div class="grid_box">
								<div class="title"><span>{$v.title}：</span></div>
								<div class="content"><span>{$show[$v['name']]}</span></div>
							</div>
						</default>
					</switch>
				</if>
			</foreach>
			<div class="grid_box">
				<div class="grid_row_box">
					<div class="grid_column_box">
						<div class="title"><span>{$fields.periods}</span></div>
						<div class="content"><span><empty name="show.periods">待定<else/>{$show.periods}集</empty></span></div>
					</div>
					<div class="grid_column_box">
						<div class="title"><span>{$fields.marketing_grading}</span></div>
						<div class="content"><span><empty name="show.marketing_grading">待定<else/>{$show.marketing_grading}级</empty></span></div>
					</div>
					<div class="grid_column_box">
						<div class="title"><span>{$fields.update_mode}</span></div>
						<div class="content"><span>{$show.update_mode|default='待定'}</span></div>
					</div>
				</div>
			</div>
			<if condition="(!empty($show.start_date)) and (!empty($show.end_date)) and (!empty($show.date_confirm))">
				<div class="grid_box">
					<div class="title"><span>项目时间</span></div>
					<div class="content">
						<span><if condition="!empty($show['start_date']) or !empty($show['end_date'])">
							{$show.start_date|default='-'} 至 {$show.end_date|default='-'}
						</if></span>
						<span>&nbsp;&nbsp;<empty name="show.date_confirm">待定</empty></span>
					</div>
				</div>
			</if>
			<if condition="!empty($show.expected_tv_startdate) and !empty($show.expected_tv_enddate) and !empty($show.expected_tv_confirm)">
				<div class="grid_box">
					<div class="title"><span>预计卫视播出时间</span></div>
					<div class="content">
						<span><if condition="!empty($show['expected_tv_startdate']) or !empty($show['expected_tv_enddate'])">{$show.expected_tv_startdate|default='-'} 至 {$show.expected_tv_enddate|default='-'}
						</if></span>
						<span>&nbsp;&nbsp;<empty name="show.expected_tv_confirm">待定</empty></span>
					</div>
				</div>
			</if>

		</div>
	<!--</div>-->
	<include file="Public/foot"/>
	<script type="text/javascript">

	</script>
</body>
</html>