<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>关于－UI100day坚持100天</title>
    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__PUBLIC__/css/100dayui.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap-hover-dropdown.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script>
		function setText(text){
			$('#showName').val(text);
		}
	</script>
</head>
<body class="bodybackground">
<include file="Public/head" />
<!-- PastEvents -->
<div class="container">
    <div class="row">
	    <!-- Content -->
		<div class="col-lg-12 col-md-12 mt20">
			<div class="mypanel col-lg-12 col-md-12" style="padding:40px">
                {$show.id}
				<input id="showName" type="text">
				<input type="date">
				<button onclick="window.showObj.toast('123')">弹出toast</button>
			</div>
		</div>
    </div>
</div>
    <hr>
<include file="Public/foot" />
</body>
</html>